<div class="fader">
  <div><img src="{{ .Site.BaseURL }}img/fader/abs3.jpg"></div>
  <div><img src="{{ .Site.BaseURL }}img/fader/abs4.jpg"></div>
  <div><img src="{{ .Site.BaseURL }}img/fader/abs5.jpg"></div>
  <div><img src="{{ .Site.BaseURL }}img/fader/abs6.jpg"></div>
  <div><img src="{{ .Site.BaseURL }}img/fader/abs8.jpg"></div>
  <div><img src="{{ .Site.BaseURL }}img/fader/abs7.jpg"></div>
  <div><img src="{{ .Site.BaseURL }}img/fader/abs1.jpg"></div>
  <div><img src="{{ .Site.BaseURL }}img/fader/abs2.jpg"></div>
  
</div>